include ../mixins/movie

extends ../layouts/default

block js
  script.
    var query = {
      a : "#{data.query.a}",
      q : "#{data.query.q}",
      y : +"#{data.query.y}",
      d : +"#{data.query.d}"
    }
  script.
    function queryString() {
      let res = []
      if (query.y &&  query.y != 0) res.push(`y=${query.y}`)
      if (query.d) res.push(`d=${query.d}`)
      if (query.q) res.push(`q=${query.q}`)
      if (query.page) res.push(`page=${query.page}`)
      return res.length == 0 ? '' : '?' + res.join('&')
    }
    function removeQuery(href) {
      return href.split("?")[0]
    }
    function submitSearch () {
      query.q = $('#search-input').val()
      delete query.page
      let href = removeQuery(window.location.href)
      window.location.href = href + queryString()
    }
    function selectYear (k) {
      query.y = k.toString()
      delete query.page
      let href = removeQuery(window.location.href)
      window.location.href = href + queryString()
    }
    function selectAward (a) {
      let href = removeQuery(window.location.href)
      query.a = a
      delete query.page
      window.location.href = href + queryString()
    }
    $(function() {
      $('#search-submit-button').on('click', submitSearch)
      $('#award-select').val(query.a || '')
    })
    
    
block intro
    .container
        h1 Archive        

block content
  .container.archive
    .row.col-sm-5.search-wrapper
      .col-sm-12
        .input-group
          input#search-input.form-control(type="text", name="search", placeholder="Search.." value=data.query.q)
          span.input-group-addon.btn.btn-default#search-submit-button Search
      .col-sm-6.category
        select#award-select.form-control(
          onchange="selectAward($(this).val())"
          value="#{data.query.a || ''}")
          each award in data.awards
            option= award
          option(value="") Search for awards
    .row.col-sm-9.years
      ul(style="list-style:none; padding-left:0;")
      each year, index in data.years
        li(style="display:inline-block; padding-left:0;")
          a(onclick="selectYear(#{year})" 
            style="cursor:pointer; text-decoration:#{data.query.y == year ? 'underline' : 'none'}") #{year}
          span &nbsp;&nbsp;
      li(style="cursor:pointer; display:inline-block; padding-left:0;"): a(onclick="selectYear(0)") Any
    p.counter #{data.movies.total} Movies found
    
    if +data.movies.total > 0
      ul.cards
        each movie, index in data.movies.results
          li.cards-item
            +movie(movie)
    else
      p No Movies Found
    
    if data.movies.totalPages > 1
      ul.pagination
        if data.movies.previous
          li: a(href= qStrForPage(data.movies.previous)): span.glyphicon.glyphicon-chevron-left
        else
          li.disabled: a(href=qStrForPage(1)): span.glyphicon.glyphicon-chevron-left
        each p, i in data.movies.pages
          li(class=data.movies.currentPage == p ? 'active' : null)
            a(href= qStrForPage(p == '...' ? (i ? data.movies.totalPages : 1) : p ))= p
        if data.movies.next
          li: a(href= qStrForPage(data.movies.next)): span.glyphicon.glyphicon-chevron-right
        else
          li.disabled: a(href= qStrForPage(data.movies.totalPages)): span.entypo.glyphicon.glyphicon-chevron-right
