include ../mixins/movie

extends ../layouts/default

block js
  script.
    $(function() {
      const hostname = window.location.hostname
      const protocol = window.location.protocol
      const port     = window.location.port ? `:${window.location.port}` : ''
      const day      = +#{data.day}
      function previous () {
        if (day <= 1) return
        window.location.href = `${protocol}//${hostname}${port}/day/${day - 1}`
      }
      function next () {
        if (day >= 11) return 
        window.location.href = `${protocol}//${hostname}${port}/day/${day + 1}`
      }
      $('.previous-button')
        .on('click', previous)
        .prop('disabled', day <= 1)
      $('.next-button')
        .on('click',next)
        .prop('disabled', day >= 11)
    })

block intro
  .container
    h1 Day #{data.day.toString()}   
    .row.button-row
      if data.day > 1
        button.btn.btn-default.previous-button   Previous Day
      if data.day < 11
        button.btn.btn-default.next-button       Next Day

block content
  if data.day < 11
    - var beforePause = true
    .container.single-day
      if +data.movies.length > 0
        ul.cards
          each movie, index in data.movies
            if movie.slot - index > 1 && beforePause
              - beforePause = false
              li.cards-item
                .card
                  .card-title Pause
                  .card-text  20:30 to 21:00
            li.cards-item
              +movie(movie)
  else
    .container: jumbotron
      div!= data.content
    
