mixin directorName(obj)
  span.
    by&nbsp;<a href="#{obj.href}"><em>#{obj.name}</em></a>

mixin videoEmbed(url)
  .vid-wrapper
    .h-iframe
      img.card-image(src="http://pixelartmaker.com/art/00f9279d85a22b1.png")
      iframe(src=url frameborder="0" allowfullscreen)

mixin movie(movie, truncate)
 .card(style="max-height:#{truncate?'none':'42rem'}" class="#{truncate?'large-card':'small-card'}")
    a(href="/movie/#{movie.slug}" style="cursor:pointer;")
      if movie.display.image.url
        img.card-image(src=movie.display.image.url)
      else if movie.display.youtube
        +videoEmbed(movie.display.youtube)
      else if movie.display.vimeo
        +videoEmbed(movie.display.vimeo)
    .card-content
      a(href="/movie/#{movie.slug}" style="cursor:pointer;")
        .card-title= movie.title
      p.card-text by <a href="#{movie.director.href}"><em>#{movie.director.name}</em></a>
      if movie.award != ''
        .category-label.card-text= movie.award
      div!= movie.description
      if movie.externalLink
        p.card-text <a href="#{movie.externalLink}"><em>trailer</em></a>
      #share
    


        
        
